<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reporte de tareas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

<div class="report-card">
    <h2>Listado general de tareas</h2>

    <table class="tasks-report-table">
        <thead>
        <tr>
            <th>Tarea</th>
            <th>Estado</th>
            <th>Fecha Límite</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.description}">Comprar Leche</td>

            <td>
    <span class="status-badge"
          th:classappend="${task.status.name() == 'PENDING'} ? ' status-pending' :
                          (${task.status.name() == 'INPROGRESS'} ? ' status-inprogress' : ' status-done')"

          th:text="${task.status.name() == 'PENDING'} ? 'Pendiente' :
                   (${task.status.name() == 'INPROGRESS'} ? 'En progreso' : 'Completado')">

        Estado
    </span>
        </td>

            <td th:text="${task.deadline != null ? task.deadline : 'No especificada'}">
                No especificada
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>